html, body, header {padding: 0; margin: 0}
body {
	font-family: sans-serif;
	background-color: #DDD;
}

.frame {
	max-width:1000px;
	height: 100%;
	margin: auto;
}

h1, h2 {font-weight: normal}
header {
	overflow: hidden;
	color: #FFF;
	background-color: #003;
}

.navbutton {
	display: inline-block;
	margin-right: 1em; padding: 1em;
	border: 2px solid #007;
	width: 10em;
	text-align: center;
	text-decoration: none;
	background-color: #FFF;
} 
.logo {float:left; margin-right: 1em}

section {
	clear: both;
	padding:1em;
	background-color: #FFF
}

a.home {underline: none}
.right {float: right}
.clear {clear: both}

section img {max-width: 100%}
div.error {color: #A00; font-weight: bold}

li {
	list-style-type: none;
	line-height: 40px;
}

.fileicon {
	width: 32px; height: 32px;
	vertical-align: middle
}

.hidden {
	display: none;
}

label {
	display: inline-block;
	width: 10em;
}

fieldset {
	margin-top: 1em;
}